*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/comwim07101993ictproj3_capturetheflag/github/caperevexillum/activities/DebugActivity.java
/app/src/main/res/layout/activity_debug.xml